#main {
    width:80%;
    margin:auto;
    margin-top:30px;
}
ul.image_list li {
	/* liが横並びになるようにします。 */
	display: inline-block;
}
ul.image_list li .image_box {
	width: 150px;
	height: 150px;
	/* チェックボックスの親要素にrelativeを指定しておきます。 */
	position: relative;
}
.image_box img.thumbnail {
	width: 100%;
	height: 100%;
	/* 画像にカーソルを合わせたときに、
	カーソルが指のマークになるようにします。 */
	cursor: pointer;
}
.image_box img.thumbnail.checked {
	/* チェックが入った状態だと、枠が表示されるようにします。 */
	border: 6px solid blue;
	/* 線をwidthとheightに含めるようにします。 */
	box-sizing: border-box;
}
.image_box .disabled_checkbox {
	/* チェックボックスの位置は絶対位置にします。 */
	position: absolute;
	/* チェックボックスは、親要素の右上から12pxの位置に配置します。 */
	top: 12px;
	right: 12px;
	/* チェック前は非表示にしておきます。 */
	display: none;
	/* チェックボックスを大きくします。 */
	transform: scale(2);
	/* チェックボックスにカーソルを合わせたときに、
	カーソルが指のマークになるようにします。 */
	cursor: pointer;
}
.image_box img.thumbnail.checked + .disabled_checkbox {
	/* 画像にcheckedクラスが指定されたときは、
	チェックボックスの非表示を解除します。 */
	display: block;
}
.btn-send-form .btn-danger{
	margin-right: 10px;
}