#main {
    width:80%;
    margin:auto;
    margin-top:30px;
}
ul.image_list li {
	display: inline-block;
}
ul.image_list li .image_box {
	width: 150px;
	height: 150px;
	position: relative;
}
.image_box img.thumbnail {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.image_box img.thumbnail.checked {
	border: 6px solid blue;
	box-sizing: border-box;
}
.image_box .disabled_checkbox {
	position: absolute;
	top: 12px;
	right: 12px;
	display: none;
	transform: scale(2);
	cursor: pointer;
}
.image_box img.thumbnail.checked + .disabled_checkbox {
	display: block;
}
.btn-send-form .btn-danger{
	margin-right: 10px;
}
#recipe_result .recipe-btn{
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}
#recipe_result .recipe-btn:hover{
	opacity: 0.7;
}
#recipe_result .article{
	height: 250px;
	width: 800px;
	margin-top: 20px;
}
#recipe_result .article figure{
	float: left;
	height: 250px;
	width: 250px;
	margin: 0;
}
#recipe_result .article figure img{
	border-radius: 5px;
	height: 250px;
	width: 250px;
}
.recipe-info{
	display: inline-block;
	float: right;
	width: 500px;
}
.recipe-info h1{
	margin-top: 0px;
	margin-bottom: 1.2rem;
}
#recipe_result .article-date{
	color: #8B8B8B;
	margin-left: 1rem;
}
.recipe-info p{
	color: #8B8B8B;
	text-align: left;
}

#reload {
  color: #fff;
  background: #5876a3;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}